.our-team-main__list {
  &-item {
    flex-basis: calc((100% - 90px) / 4);
    &:not(:nth-child(4n)) {
      margin-right: $variable-grid;
    }
  }

  &-position {
    margin-bottom: 16px;
    @include fonts(null, null, 16px, 1.19, null);
  }
  &-title {
    @include fonts($title-text-color, 500, 16px, 1.19, null);
    margin-bottom: 10px;
  }

  &-description {
    padding-top: $variable-grid;
    padding-bottom: $variable-grid;
    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

.our-team-main__sosial-list:not(:last-child) {
  margin-right: 10px;
}
