.form-wrap {
  &__form {
    width: 570px;
    height: 86px;
  }
  &__enter {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
}

.form-wrap__label {
  position: absolute;
  top: 50%;
  left: 16px;
  padding: 0px;
  margin: 0px;
  transform: translateY(-50%);

  .form-wrap__input:focus + &,
  .form-wrap__input:not(:placeholder-shown) + &,
  .form-wrap__input:hover + & {
    transform: translateY(-60px);
  }
}

.form-wrap__input {
  width: calc(100% - 212px);
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: $footer-bacground-color;
  color: $white-color;
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  &:focus {
    outline: none;
  }
}
