.header {
  background-color: $white-color;
  border-bottom: 1px solid #ececec;

  &--no-border {
    border-bottom: none;
  }
  &-nav {
    display: flex;
    align-items: center;
  }
}

.header-container {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0pt;

  &__header-nav {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    @include fonts($primary-text-color, 500, null, 1.17, 0.02em);
  }
}

.site-auth__header-container {
  margin-left: auto;
}
