.hero {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;

  &-container {
    background-color: $footer-bacground-color;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  &-title {
    display: block;
    width: 696px;
    @include fonts($white-color, 900, 44px, 1.36, 0.06em);
    text-transform: uppercase;
    margin: 0 auto;
    padding-bottom: $variable-grid;
  }
}
