.logo {
  font-family: Raleway;
  @include fonts($logo-text-color, 700, 26px, 1.19, null);
  &__design {
    color: $accent-color;
  }
}

.header-nav__logo {
  @media screen and (min-width: 768px) {
    margin-right: 88px;
    padding-left: 15px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    padding-left: 15px;
  }
}

.logo--inverse {
  @extend .logo;
  color: $white-color;
  display: inline-block;
}

.addres-wrap__logo--inverse {
  margin-bottom: 20px;
}
