.overlay {
  // max-width: 1600px;
  height: 600px;
  @media screen and (max-width: 1199px) {
    height: 400px;
  }

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/header-480-1x-min.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 1;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/header-480-2x-min.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/header-768-1x-min.jpg);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 1;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/header-768-2x-min.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/header-1600-1x-min.jpg);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 1;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/header-1600-2x-min.jpg);
    }
  }
}
.main__overlay {
  margin-left: auto;
  margin-right: auto;
}
