.overlay {
  max-width: 1600px;
  height: 600px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-img.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main__overlay {
  margin-left: auto;
  margin-right: auto;
}
