.site-auth {
  position: relative;
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    padding-left: 0px;
  }

  @media screen and (min-width: 768px) {
    margin-left: auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    @include fonts($primary-text-color, 500, 12px, 1.17, 0.02em);
  }
  // @media screen and (max-width: 768px){
  //   flex-direction: column-reverse;}

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
  &__icon {
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (max-width: 1199px) {
      width: 14px;
      height: 10px;
    }
    &--modif {
      @media screen and (max-width: 1199px) {
        width: 10px;
        height: 14px;
      }
    }

    fill: currentColor;
    margin-right: 10px;
  }
  &__link {
    // display: flex;
    // align-items: center;
  }
  &__item:not(:last-child) {
    margin-right: $variable-grid;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }
  }

  &__item--big-tel {
    @media screen and (max-width: 767px) {
      @include fonts($accent-color, null, 34px, 1.17, null);
      margin-bottom: 124px;
    }
  }

  &__item--under {
    @media screen and (max-width: 767px) {
      position: absolute;
      top: 72px;
      left: 0px;
      @include fonts(null, null, 24px, 1.17, null);
    }
  }
}

.site-auth-full {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
