$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$logo-text-color: #000000;
$sacondary-white-color: rgba(255, 255, 255, 0.6);
$primary-background-color: #f5f4fa;
$sacondary-background-color: #e5e5e5;
$footer-bacground-color: #2f303a;
$variable-grid: 30px;
$icons-color: #afb1b8;
